[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Opinionated Python bindings for the libyang library
[access "refs/*"]
	owner = group user/Esther Le Rouzic (EstherLerouzic)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Esther Le Rouzic (EstherLerouzic)
	label-Verified = -1..+1 group user/Esther Le Rouzic (EstherLerouzic)
	push = group user/Esther Le Rouzic (EstherLerouzic)
	read = group user/Esther Le Rouzic (EstherLerouzic)
	rebase = group user/Esther Le Rouzic (EstherLerouzic)
	removeReviewer = group user/Esther Le Rouzic (EstherLerouzic)
	submit = group user/Esther Le Rouzic (EstherLerouzic)
[access "refs/heads/*"]
	create = group user/Esther Le Rouzic (EstherLerouzic)
	push = +force group user/Esther Le Rouzic (EstherLerouzic)
	pushMerge = group user/Esther Le Rouzic (EstherLerouzic)
	read = group user/Esther Le Rouzic (EstherLerouzic)
[access "refs/tags/*"]
	push = group user/Esther Le Rouzic (EstherLerouzic)
	push = +force group user/Esther Le Rouzic (EstherLerouzic)
